$green : #019875;
$lime : #e9fcf2;
$lightgray : #e6e7e9;
$gray : #7d8c92;
/* ui-main colors */
$lightgreen: #6beea7;
$green-header: #2fa377;
$dark: #434a54;
$gren-darker: #133c42;
$border: #7d8c92;


