.breadcrumbs{
    font-family: 'ubuntulight';
	@include font-size(14px);
	margin-bottom: 31px;
	padding-top: 50px;

	.breadcrumbs__list{
		display: inline-block;
	}
	.breadcrumbs__item{
		display: inline-block;
	}
	.breadcrumbs__link{
		&:hover{
			text-decoration: underline;
		}
		&:after{
			display: block;
			float: right;
			content: "/";
			margin-left: 5px;
		}
		&_active{
			&:hover{
				text-decoration: none;
			}
			&:after{
				content: "";
			}
		}
	}
}
.about-company-title{
	background: #fff;
}

.container.main-menu{
	display: block;
}
.about-company-menu{
	margin-bottom: 60px;
	width: 100%;
	height: 50px;
	background-color: rgb(249, 249, 250);
	box-shadow: 0px 3px 2.88px 0.12px rgba(131, 131, 131, 0.2);
}

.menu-line{
	height: 100%;
	color: #434a54;
	font-family: 'ubuntumedium';
	list-style: none;
	font-size: 0px;
	&__li {
		font-size: 16px;
		display: inline-block;
		margin:14px 38px 14px 0;
		&:last-of-type{
			margin-right: 0;
		}
		&:hover {
			color: #019875;
		}
		a {
			padding: 14px 0;
		}
	}
	margin: 0;
	&_active{
		color: #019875;
	}

}

.accred {
	overflow: hidden;
	padding-bottom: 60px;
	position: relative;
	.container{
		position: relative;
		z-index: 2;
		@include clearfix;
		padding: 0 15px;

	}
	.accred-sertif{
		display: block;
		float: left;
		width: 50%;
		padding: 45px 15px;
	}
	.accred-text-wrap{
		display: block;
		float: right;
		width: 50%;
		padding: 45px 15px 45px 30px;
	}
	&__title {
		text-align: center;
	}
}

.accred-sertif{
	position: relative;
	&:before{
			position: absolute;
			content: '';
			display: block;
			width: 350%;
			top:0;
			left: -250%;
			bottom: 0;
			background: #e9fcf2;
			z-index:-2;
			@include border-radius(5px);
	}
	&:after{
		display: inline-block;
		position: absolute;
		content: '';
		width: 200%;
		top:100%;
		right: 0%;
		height: 30px;
		background: url('../img/icons/block-shadow.png');
		background-repeat: no-repeat;
		background-position: 100% 0;
	}
}
.accred-text-wrap{
	p{
		margin-bottom: 28px;
	}
}

.sertif-wrap{
	display: inline-block;
	background: #f9f9fa;
	width: 242px;
	height: 345px;
	margin-right: 18px;
	&:last-of-type{
		margin-right: 0;
	}
	img {
		border: 2px solid #fff;
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto;
	}
}

.after-title-block{
	text-align: center;
	margin-bottom: 50px;
}

.specialists{
	margin-bottom: 30px;
}
.specialist__img-wrap{
	background-color: rgb(249, 249, 250);
	box-shadow: 0px 1px 5px 0px rgba(67, 74, 84, 0.2);
	width: 264px;
	height: 338px;
	margin-bottom: 25px;
	img{
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto;
	}
}
.specialist__list{
	margin-left: -30px;
	text-align: center;
	.specialist-wrap{
		color: #434a54;
		display: inline-block;
		margin-left: 30px;
		vertical-align: top;
		width: 266px;
		margin-bottom: 50px;
	}
	.specialist__name{
		font-family: 'ubuntubold';
		font-size: 24px;
	}
	.specialist__data{
		min-height: 36px;
		line-height: 18px;
	}
}
.specialist-wrap{
	&:hover{
		.specialist__name{
			color: $green;
		}
	}
}
.specialists__title,
.sertificats__title,
.feedbacks__title,
.vacancy__title,
.requisites__title{
	text-align: center;
}
.sertificats__list{
	margin-left: -20px;
	text-align: center;

	.sertificat-wrap{
		display: inline-block;
		margin-left: 17px;
	}

}

.sertificat__img-wrap{
	box-shadow: 0px 1px 5px 0px rgba(67, 74, 84, 0.2);
	background: #f9f9fa;
	width: 218px;
	height: 304px;
	display: block;
	text-align: center;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}
.light-b__init{
	position: relative;
	&:hover:before{
		content: '';
		z-index:1;
		position: absolute;
		top:0;
		left: 0;
		bottom:0;
		width: 100%;
		background: rgba(132, 137, 144, 0.3);
	}
	&:hover:after{
		content: url("../img/icons/loupe.svg");
		z-index:1;
		position: absolute;
		top:50%;
		left:50%;
		width: 20px;
		height: 20px;
		margin-left: -10px;
		margin-top: -10px;
	}

}

.sertificats-wrap{
	margin-bottom: 55px;
}
.feedbacks-wrap{
	background: rgba(233, 252, 243, 0.7);
	padding-top: 60px;
}

.feedback__company-name{
	font-size: 24px;
	font-family: 'ubuntubold';
	color: rgb(67, 74, 84);
	line-height: 1.5;
	padding: 0 160px 0 50px;
	margin-bottom: 65px;

}
.feedback__text-wrap{
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	width: 555px;
	@icnlude border-radius(5px);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 5px 0px rgba(67, 74, 84, 0.2);
	position: relative;
	margin-left: 33px;
	margin-bottom: 50px;
	.feedback__text{
		margin-bottom: 25px;
	}
	.feedback__author{
		padding-left: 65px;
		color: $green;
		font-size: 16px;
		font-family: 'ubuntubold';
	}
}
.feedback__author-photo{
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: -50px;
	left: -30px;
	z-index: 1;
	width: 100px;
	height: 100px;
	@include border-radius(50%);
	box-shadow: 0px 1px 5px 0px rgba(67, 74, 84, 0.75);
	background: #fff;
	img{
		max-width: 100%;
	}
}
.feedback__img-block{
	display: inline-block;
	margin-left: 35px;
	vertical-align: top;
	.feedback__img-wrap{
		background: #f9f9fa;
		display: inline-block;
		box-shadow: 0px 1px 5px 0px rgba(67, 74, 84, 0.2);
		width: 243px;
		height: 313px;
		margin-left: 26px;
		img{
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: 0 auto;
		}
	}
}

.feedbacks-owl{
	margin-bottom: 70px;
	    .owl-controls{
    	margin: 0 auto;
	    width: 100%;
    }
	.owl-nav{
		position: absolute;
		top:31px;
		margin: -27px auto 0;
		width: 100%;
		text-align: justify;
	}

	.owl-prev{
		display: inline-block;
		@include border-radius(4px);
		border: 1px solid #434a54;
		width: 31px;
		height: 31px;
		text-align: center;
		position: absolute;
		line-height: 28px;
		left: 0;
		&:hover{
			background: $dark;
			&:after{
				border-color: transparent #fff transparent transparent;
			}
		}
		&:after{
			display: inline-block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6.5px 6px 6.5px 0;
			border-color: transparent $dark transparent transparent;
			vertical-align: middle;
		}

	}
	.owl-next{
		display: inline-block;
		position: absolute;
		border: 1px solid #434a54;
		font-size: 12px;
		line-height: 14px;
		font-family: 'ubuntumedium';
		&:hover{
			background: $dark;
			color: #fff;
			&:after{
				border-color: transparent transparent transparent #fff;
			}
		}
		@include border-radius(4px);
		right: 0;
		padding: 8px 10px;
		&:before{
			content: 'Читать следующий';
			display: inline-block;
		}
		&:after{
			display: inline-block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6.5px 0 6.5px 6px;
			border-color: transparent transparent transparent $dark;
			vertical-align: middle;
			margin-left: 5px;
		}
	}
	.owl-next,
	.owl-prev{
		@include opacity(0.5);
	}
	.owl-next:hover,
	.owl-prev:hover{
		@include opacity(1);
		@include transition(.25s);
	}
	.owl-dots {
		display: none;
	}
}


.our-partners{
	padding: 70px;
	position: relative;
	&:before{
		z-index: -11;
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		background: rgb(47, 163, 119);
	}
	.partners__title{
		.h1-und{
			color: white;
		}
		margin-bottom: 45px;
	}
	.img-item{
		margin-bottom: 0 !important;
	}
	.owl-controls{
		margin-top: 45px;
	}
	.owl-dot.active{
		background: #fff !important;
	}
}

.vacancy-block-wrap{
	padding-top: 60px;
	.vacancy{
		margin-bottom: 70px;
	}
	.accord-mth__content{
		line-height: 20px;
		p{
			margin-bottom: 25px;
		}
		strong{
		    font-family: 'ubuntubold';
		}
		ul {
			list-style: disc;
		}
		li {
			display: list-item;
			margin-left: 20px;
		}
		ol{
			list-style-type: decimal;
		}
	}
}
.accord-mth__list{
	.accord-mth__item{
		margin-bottom: 30px;
	}

	.accord-mth__init{
		padding: 24px 30px;
		position: relative;
		display: block;
		background: #f9f9fa;
		font-size: 24px;
	    font-family: 'ubuntumedium';
	    color: #434a54;
	    @include border-top-radius(4px);
		&:after{
			content: '';
			position: absolute;
			display: block;
			right: 30px;
			top: 50%;
			margin-top: -3px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 6.5px 0 6.5px;
			border-color: $dark transparent transparent transparent;
			line-height: 0px;
			_border-color: $dark #000000 #000000 #000000;
			_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		}
		&:hover{
			color: $green-header;
			&:after{
				// border-color: $green transparent transparent transparent;
			}
		}
	}

	.accord-mth__content{
		display: none;
		background: #f9f9fa;
		padding: 30px;
		@include border-bottom-radius(4px)
		position: relative;
	    color: #434a54;
	    &:after{
	    	content: '';
	    	position: absolute;
			top: 100%;
			width: 100%;
			left: 0;
			height: 42px;
			background: url('../img/icons/accord-shadow.png') center center no-repeat;
	    }
	}
	.accord-active{
		.accord-mth__init{
			background-image: -moz-linear-gradient( 180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
			background-image: -webkit-linear-gradient( 180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
			background-image: -ms-linear-gradient( 180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
			background-image: linear-gradient( 180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
			&:after{
				@include rotate(180);
			}
			&:hover{
				color: $dark;
				background-image: -moz-linear-gradient( 0deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
				background-image: -webkit-linear-gradient( 0deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
				background-image: -ms-linear-gradient( 0deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
				background-image: linear-gradient( 0deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
			}

		}
	}
}
.buttons-block{
	margin-top: 35px;
}
.close-accord,
.respond-to-job{
	display: inline-block;
	margin-left: 20px;
    font-family: 'ubuntubold';
	@include border-radius(4px);
	@include transition(0.25s);
}

.close-accord{
	padding: 5px 10px;
}
.respond-to-job{
	padding: 6px 10px;
}
.requisites{
	padding-bottom: 70px;
}
.requisites-block-wrap{
	color: #434a54;
	padding-top: 65px;
	background: #f9f9fa;
}
.requisites-text-block{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	padding: 0 65px;
	&.right{
		padding: 0 65px 0 130px;
	}
}
.requisites-text-block__item{
	margin-bottom: 18px;
	.item{
		font-family: 'ubuntubold';
		padding-bottom: 8px;
		margin-right: 3px;
	}
}