.popup__make-call-wrap{
	width: 315px;
	text-align: center;
	display: none;
	margin: 0 auto;
	.popup-form{
		padding: 50px 30px 20px;
		background: #fff;
		border-radius: 4px;
		position: relative;
		-webkit-box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.31);
		-moz-box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.31);
		box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.31);
	}
	.close-popup__make-call{
		position: absolute;
		background: url('../img/icons/close-popup.png');
		width: 12px;
		height: 13px;
		top: 5px;
		right: 5px;
		@include opacity(.2);
		&:hover{
			@include opacity(1);
		}
	}
	.popup-title{
		@include font-size(40px);
		color: #fff;
		font-weight: 400;
		line-height: 42px;
		text-align: center;
		margin-bottom: 25px;
	}
	.popup-input{
		width: 100%;
		padding: 20px;
		border-radius: 4px;
		border: 1px solid #e6e9ed;
		outline: none;
		margin-bottom: 50px;
		&:last-child{
			margin-bottom: 15px;
		}
	}
	.popup-smbt{
		@include font-size(18px);
		width: 100%;
		border: none;
		padding: 15px 40px;
		outline: none;
	    font-family: 'ubuntumedium';
	    font-weight: 600;
	}
}
.small-fonts{
	@include font-size(12px);
}
.section__title{
	text-align: center;
}
.about-company{
	padding-top: 60px;
	&__title{
		text-align: center;
	}
	&__descr{
		margin-bottom: 57px;
		line-height: 20px;
	}
}
.shema{
	&__wrap{
		margin-bottom: 65px;
	}
	&__title{
		margin-bottom: 43px;
	}
	&__blocks-container{
		height: 235px;
		background-image: url("../img/bg_shema.png");
		background-position: center center;
		background-repeat: no-repeat;
	}
	&__list{
		height: 100%;
		margin-right: -55px;

	}
	&__item{
		display: inline-block;
		width: 145px;
		vertical-align: top;
	    margin-right: 55px;
	    &:last-child{
	    	margin-right: 0px;
	    }
	}
	&__item_bottom{
		margin-top: 90px;
	}
	&__link{
		display: inline-block;
		text-align: center;
	}
	&__img{
		position: relative;
	}
	&__descr{
		@include font-size(12px);
		font-family: 'ubuntulight';
	}
}
.shema__wrap{
	.img-wrap{
		position: relative;
		width: 105px;
		height: 105px;
		border: 2px solid $green;
		border-radius:50%;
		background: #ffffff;
		margin: 0 auto 20px;
		&:before{
			box-sizing:border-box;
			position: absolute;
			left: -10px;
			z-index: 5;
			width: 35px;
			height:35px;
			@include border-radius(50%);
			background: $lightgreen;
			vertical-align:middle;
			padding-top: 3px;
			@include font-size(24px);
			font-family: 'ubuntubold';
		}
		img{
			margin-top: 28px;
			width: 45px;
			height: 45px;
		}
	}
}
.img-number-1:before{
	content:"1";
}
.img-number-2:before{
	content:"2";
}
.img-number-3:before{
	content:"3";
}
.img-number-4:before{
	content:"4";
}
.img-number-5:before{
	content:"5";
}
// .shema__img:before{
// 	box-sizing:border-box;
// 	position: absolute;
// 	left: 0;
// 	z-index: 5;
// 	width: 35px;
// 	height:35px;
// 	@include border-radius(50%);
// 	background: $lightgreen;
// 	vertical-align:middle;
// 	padding-top: 5px;
// 	@include font-size(24px);
// 	font-family: 'ubuntu_monobold';
// }

.services-block{
	&__wrap{
		display: inline-block;
		text-align: justify;
		padding-bottom: 10px;
		&:last-child:after{
			content: '';
			width: 100%;
			display: inline-block;
		}
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 250px;
		min-height: 220px;
		text-align: left;
		padding: 20px 20px 60px 20px;
		@include border-radius (5px);
		box-shadow: 0px 1px 10px 0px rgba(67, 74, 84, 0.75);
		margin-bottom: 30px;
		background: #fff;
	}
	&__item:hover{
		@include transition(.25s);
		cursor: pointer;
		background: #cbe8dd;
	}
}
.serv{
	&__title{
		margin-bottom: 21px;
		text-align: left;
		color: $green;
		line-height: 23px;
	}
	&__descr{

	}
	&__icon{
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 65px;
		height: 65px;
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
}
.more-links{
	position: absolute;
	bottom:20px;
	color: $dark;
}

.carousel-wrap {
	width: 100%;
	margin: 0 auto;
	position: relative;
    visibility: hidden;
    @include opacity(0);
    @include transition(3s);
    .item {
    	position: relative;
    }
    .slider-content_bg{
    	width: 100%;
    	height: 455px;
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    .owl-controls{
    	margin: 0 auto;
	    width: 1170px;
    }
	.owl-nav{
		position: absolute;
		top:50%;
		margin: -27px auto 0;
		width: 1170px;
		text-align: justify;
	}

	.owl-prev{
		display: inline-block;
		background: url('../img/arrow_slider-main.png');
		@include rotate(-180);
		width: 54px;
		height: 54px;
		position: absolute;
		left: 30px;
	}
	.owl-next{
		display: inline-block;
		background: url('../img/arrow_slider-main.png');
		width: 54px;
		height: 54px;
		position: absolute;
		right: 30px;
	}
	.owl-next,
	.owl-prev{
		@include opacity(0.5);
	}
	.owl-next:hover,
	.owl-prev:hover{
		@include opacity(1);
		@include transition(.25s);
	}
	.owl-dots {
		display: none;
	}


	.slider-content-wrap {
		position: relative;
		z-index: 1;
		width: 980px;
		margin: 0 auto;
		height: 455px;
		padding: 40px 80px;
		@include pseudo_vertical_align
		.slider-content{
			display: inline-block;
			vertical-align: middle;
		}
		.slider-title-wrap {
			display: inline-block;
			.slider-title{
				@include font-size(50px);
			    font-family: 'ubuntulight';
			    font-weight: normal;
			}
			.slider-subtitle{
				font-size: 24px;
				line-height: 34px;
			    font-family: 'ubunturegular';
			}
			margin-bottom: 50px;
		}
		.slider-buy{
			vertical-align: middle;
			display: inline-block;
			font-size: 18px;
			line-height: 22px;
			font-family: 'ubuntumedium';
			font-weight: 600;
			text-align: center;
			padding: 12px 30px;
			margin-right: 17px;
		}
		.slider-details {
			display: inline-block;
		    font-family: 'ubuntumedium';
		    line-height: 26px;
		    font-size: 18px;
			text-align: center;
			padding: 8px 25px;
			vertical-align: middle;
		}
	}
}
.last-news{
	padding-bottom: 55px;
}
.last-news-wrap {
	overflow: hidden;
	padding-bottom: 8px;
	position: relative;
	.container{
		position: relative;
		z-index: 2;
		@include clearfix;
		padding: 45px 0;
	}
	.news-wrap{
		display: inline-block;
		float: left;
		width: 50%;
		padding-right: 15px;
	}
	.publications-wrap{
		display: inline-block;
		float: right;
		width: 50%;
		padding-left: 15px;

	}

}
.publications-wrap,
.news-wrap{
	@include clearfix;
	.read-all{
		float: right;

	}
}
.news-wrap{
		&:before{
			@include transition(.25s);
		}
		&:hover:before{
			position: absolute;
			content: '';
			display: block;
			width: 100%;
			top:0;
			bottom: 0;
			left: -50%;
			background: #f9f9fa;
			-webkit-box-shadow: 0px 6px 5px -2px rgba(202,204,207,1);
			-moz-box-shadow: 0px 6px 5px -2px rgba(202,204,207,1);
			box-shadow: 0px 6px 5px -2px rgba(202,204,207,1);
			z-index:-2;
			@include border-radius(7px);
	}
	.read-all{
		float: right;
		margin-right: 30px;
		font-family: 'ubuntubold';
	}
}
.publications-wrap{
	&:before{
			@include transition(.25s);
	}
		&:hover:before{
			position: absolute;
			content: '';
			display: block;
			width: 100%;
			top:0;
			bottom: 0;
			right: -50%;
			background: #f9f9fa;
			-webkit-box-shadow: 0px 6px 5px -2px rgba(202,204,207,1);
			-moz-box-shadow: 0px 6px 5px -2px rgba(202,204,207,1);
			box-shadow: 0px 6px 5px -2px rgba(202,204,207,1);
			z-index:-2;
			@include border-radius(7px);
	}

	.news-block{
		margin-left: 15px;

	}

}
.news-block{
	width: 495px;
	margin-bottom: 34px;
	color: #434a54;
	.news__img-line{
		margin-bottom: 20px;
		.news-img{
			display: inline-block;
			vertical-align: top;
			width: 81px;
			height: 81px;
			margin-right: 13px;
			img{
				max-width: 100%;
				max-height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
		.news__img-line_datails{
			display: inline-block;
			vertical-align: top;
			padding-top: 15px;
			color: #434a54;
		}
		.news-date,
		.news-title{
			display: block;
		}
		.news-date{
			font-size: 12px;
		    font-family: 'ubuntulight';
		    line-height: 24px;
		}
		.news-title{
		    font-family: 'ubuntubold';
		    line-height: 24px;
		}
	}
	.news__content{
		font-size: 14px;
		line-height: 20px;
		.more-info{
			&:after{
				content:"";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-image: url("../img/more-links.png");
				margin-left: 7px;
			}
			span{
				vertical-align: middle;
				line-height: 20px;
			}
		}
	}
}

		.read-all {
			display: inline-block;
		    font-family: 'ubuntumedium';
		    font-weight: 600;
		    line-height: 20px;
		    font-size: 14px;
			text-align: center;
			padding: 3px 14px;
			vertical-align: middle;
		}

.last-news__title{
	@extend .container;
	text-align: center;
}
// .global-wrapper-bg{
// 	position: relative;

// 		display: block;
// 		height: 100%;

// }