.partners{
	background: #fff;
	min-height: 640px;
	&__title{
		text-align: center;
	}
	.container {
		padding-top: 60px;
	}
}
.gallery{

	&-wrap{
		width: 980px;
		margin: 0 auto;
		padding-left: 5px;
	}
	&-banners{
		.owl-stage{
			margin-left: 80px;
		}
		.owl-dots{
			margin-top: 40px;
			text-align: center !important;
		}
		.owl-dot{
			width: 44px;
			height: 8px;
			background: #bef8d8;
			display: inline-block;
			margin-right: 22px;
			border-radius: 3px;
			&:hover{
				background: #29d694;
			}
		}
		.owl-dot.active{
			background: #6beea7;
		}
		.img-wrap{
			width: 980px;
			margin-left: -80px;
			.img-item{
				width: 200px !important;
				height: 80px !important;
				display: inline-block;
				text-align: center;
				margin-left: 40px;
				line-height: 80px;
				img{
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
					line-height: 80px;
					vertical-align: middle;
					display: inline-block;
					@include opacity(.6);
					@include transition(.3s);
					&:hover{
						@include opacity(1);
					}
				}
			}
		}
	}
}
