.h1{
	@include font-size(50px);
	font-family: 'ubuntulight';
	margin-bottom: 70px;
	display: block;
	font-weight: normal;
	line-height: 70px;
	text-align: left;
}
.h1-und{
	@include font-size(40px);
    font-family: 'ubuntulight';
    display: inline-block;
    position: relative;
    margin-bottom: 55px;
    &:after{
		content: '';
		position: absolute;
		border-bottom: 2px solid #009573;
        top: 100%;
        bottom: 0;
        left: 50%;
		width: 100%;
		margin: 15px 0 0 -50%;
    }
}
.h2{
	@include font-size(24px);
    font-family: 'ubuntumedium';
	color: #434a54;
}
.h3{
	font-family: 'ubuntubold';
	@include font-size(16px);
	color: #2fa377;
}
.h4{
    font-family: 'ubuntubold';
    @include font-size(14px);
	color: #434a54;
}
.link-btn{
	font-family: 'ubuntubold';
	@include font-size(16px);
	color: #143d42;
}
*{
	box-sizing: border-box;
}
body{
    font-family: 'ubuntulight';
	@include font-size(14px);
}
.wrapper{
	min-width: 1200px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		background: url(../img/bg.svg);
		-webkit-background-size: cover;
			background-size: cover;
		background-position-x: 27%;
		bottom: 0;
		top: 0;
		@include opacity(.2);
		z-index: -5;
	}
}

.container {
	min-width: 1200px;
	max-width: 1200px;
	margin: 0 auto !important;
	padding: 0 15px;
	@include clearfix();
}
.container-inner{
	min-width: 980px;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 30px;
}


