.h1{
	@include font-size(50px);
	font-family: 'ubuntulight';
	margin-bottom: 70px;
	display: block;
	font-weight: normal;
	line-height: 70px;
	text-align: left;
}
.h1-und{
	@include font-size(40px);
    font-family: 'ubuntulight';
    display: inline-block;
    position: relative;
    margin-bottom: 55px;
    color: $dark;
    &:after{
		content: '';
		position: absolute;
		border-bottom: 2px solid #009573;
        top: 100%;
        bottom: 0;
        left: 50%;
		width: 100%;
		margin: 15px 0 0 -50%;
    }
}
.h2{
	@include font-size(24px);
    font-family: 'ubuntumedium';
	color: #434a54;
}
.h3{
	font-family: 'ubuntubold';
	@include font-size(16px);
	color: #2fa377;
}
.h4{
    font-family: 'ubuntubold';
    @include font-size(14px);
	color: #434a54;
}
.link-btn{
	font-family: 'ubuntubold';
	@include font-size(16px);
	color: #143d42;
}
*{
	box-sizing: border-box;
}
body{
	font-family: 'ubuntulight';
	@include font-size(14px);
	color: $dark;
}
.wrapper{
	min-width: 1200px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		background: url(../img/bg.svg);
		-webkit-background-size: cover;
			background-size: cover;
		background-position-x: 27%;
		bottom: 0;
		top: 0;
		@include opacity(.2);
		z-index: -5;
	}
}

.container {
	min-width: 1200px;
	max-width: 1200px;
	margin: 0 auto !important;
	padding: 0 15px;
	@include clearfix();
}
.container-inner{
	min-width: 980px;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 30px;
}

// Стили кнопок - главная тема
// только стили без padding/margin/display/font-family

// Зеленые - градиент
.button-mth_green{
	@include border-radius(4px);
	@include transition(0.25s);
	color: $gren-darker;
	background-image: -moz-linear-gradient( -180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
	background-image: -webkit-linear-gradient( -180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
	background-image: -ms-linear-gradient( -180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
	background-image: linear-gradient( -180deg, rgb(107,238,167) 0%, rgb(87,224,159) 46%, rgb(67,210,151) 100%);
	&:hover{
		background-image: -moz-linear-gradient( 180deg, rgb(67,210,151) 0%, rgb(87,224,159) 54%, rgb(107,238,167) 100%);
		background-image: -webkit-linear-gradient( 180deg, rgb(67,210,151) 0%, rgb(87,224,159) 54%, rgb(107,238,167) 100%);
		background-image: -ms-linear-gradient( 180deg, rgb(67,210,151) 0%, rgb(87,224,159) 54%, rgb(107,238,167) 100%);
		background-image: linear-gradient( 180deg, rgb(67,210,151) 0%, rgb(87,224,159) 54%, rgb(107,238,167) 100%);
	}
}
// Темно зеленые - с обводкой
.button-mth_dbgreen{
	@include border-radius(4px);
	@include transition(0.25s);
	color: $gren-darker;
	border: 2px solid $gren-darker;
	&:hover{
		background: $gren-darker;
		color: white;
	}
}
// Небесного цвета - градиент
.button-mth_skyblue{
	@include border-radius(4px);
	@include transition(0.25s);
	background-image: -moz-linear-gradient( 0deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
	background-image: linear-gradient( 0deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
	color: $dark;
	&:hover{
		background-image: -moz-linear-gradient( 180deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
		background-image: -webkit-linear-gradient(180deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
		background-image: -ms-linear-gradient( 180deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
		background-image: linear-gradient( 180deg, rgb(231,244,243) 0%, rgb(243,250,249) 54%, rgb(255,255,255) 100%);
	}
}

// Красная - градиент
.button-mth_red{
	@include border-radius(4px);
	@include transition(0.25s);
	color: white;
	background-image: -moz-linear-gradient( -180deg, rgb(250,42,21) 0%, rgb(253,26,27) 46%, rgb(255,10,33) 100%);
	background-image: -webkit-linear-gradient( -180deg, rgb(250,42,21) 0%, rgb(253,26,27) 46%, rgb(255,10,33) 100%);
	background-image: -ms-linear-gradient( -180deg, rgb(250,42,21) 0%, rgb(253,26,27) 46%, rgb(255,10,33) 100%);
	background-image: linear-gradient( -180deg, rgb(250,42,21) 0%, rgb(253,26,27) 46%, rgb(255,10,33) 100%);
	&:hover{
		background-image: -moz-linear-gradient( 180deg, rgb(225,0,21) 0%, rgb(238,21,21) 54%, rgb(250,42,21) 100%);
		background-image: -webkit-linear-gradient( 180deg, rgb(225,0,21) 0%, rgb(238,21,21) 54%, rgb(250,42,21) 100%);
		background-image: -ms-linear-gradient( 180deg, rgb(225,0,21) 0%, rgb(238,21,21) 54%, rgb(250,42,21) 100%);
		background-image: linear-gradient( 180deg, rgb(225,0,21) 0%, rgb(238,21,21) 54%, rgb(250,42,21) 100%);
	}
}


// Стили ссылок главная тема
.podrobn-link{
	line-height: 20px;

	span {
	    vertical-align: middle;
	    line-height: 20px;
	}
	&:after{
		margin-left: 5px;
		display: inline-block;
	    vertical-align: middle;
		width: 16px;
		height: 16px;
		content: '';
		background: url('../img/icons/arrow-border.png') no-repeat;
	}
	&:hover{
		&:after{
			background: url('../img/icons/arrow-border-h.png') no-repeat;
		}
		text-decoration: underline;
	}
}

.podrobn-link_pre{
	line-height: 20px;
	span {
	    vertical-align: middle;
	    line-height: 20px;
	}
	&:before{
		margin-right: 5px;
	    vertical-align: middle;
		display: inline-block;
		width: 16px;
		height: 16px;
		content: '';
		background: url('../img/icons/arrow-border.png') no-repeat;
		@include rotate(180);
	}
	&:hover{
		&:before{
			background: url('../img/icons/arrow-border-h.png') no-repeat;
		}
		text-decoration: underline;
	}
}