.accordeon-init{
	cursor: pointer;
}
.uslugi{
	.container-inner{
		padding: 0 0 70px 0 ;

	}
}

.accord-mth__list_simple{
	.accord-mth__item_simple{
	}
	.accord-mth__init_simple{
		padding: 24px 0;
		position: relative;
		display: block;
		font-size: 16px;
	    font-family: 'ubuntumedium';
	    color: $green-header;
	    @include border-top-radius(4px);
		&:after{
			content: '';
			position: absolute;
			display: block;
			right: 0;
			top: 50%;
			margin-top: -3px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 6.5px 0 6.5px;
			border-color: $dark transparent transparent transparent;
			line-height: 0px;
			_border-color: #434a54 #000000 #000000 #000000;
			_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		}
		&:hover{
			text-decoration: underline;
			&:after{
				border-color: $green transparent transparent transparent;
			}
		}
	}
	.accord-mth__content_simple{
		display: none;
		background: #f9f9fa;
		@include border-bottom-radius(4px)
	    color: #434a54;
	}
	.accord-active{
		.accord-mth__init_simple{
			&:after{
				@include rotate(180);
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.uslugi-title{
	text-align: center;
}

.sert-wrap{
	padding-top: 35px;
	padding-bottom: 35px;
	display: table;
	width: 100%;
	min-height: 140px;
	border-top: 1px solid #e6e7e9;
	&:first-of-type{
		padding-top: 0;
		border-top: none;
	}
	.sert-descr-wrap{
		display: table-cell;
	}
	.sert-details-wrap{
		display: table-cell;
		width: 175px;

	}
}

.sert-descr-wrap{
	.sert-title{
	    font-family: 'ubuntumedium';
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	.sert-descr{

	}
}
.sert-details-wrap{
	position: relative;
	text-align: right;
	.sert-price{
		color: #cc2226;
		font-size: 16px;
	    font-family: 'ubuntubold';
		.price{
			font-size: 24px;
			margin-left: 5px;
			&:after{
				display: inline-block;
				margin-left: 4px;
				content: '\20BD';
			    font-family: sans-serif;
			    font-weight: 600;
			}
		}
	}
	.sert-details{
		position: absolute;
		bottom: 0;
		right: 0;
		font-family: 'ubuntubold';
		font-weight: 600;
		padding: 6px 14px;
		display: block;
	}
}