extends _layout.jade
block main
	.about-company-title
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") О компании
			.section__title
				h1.h1 О компании
	.about-company-menu
		.container.menu-line
			li.menu-line__li
				a(href='#accr' alt='Аккредитация') Аккредитация
			li.menu-line__li
				a(href='#spec' alt='Специалисты') Специалисты
			li.menu-line__li
				a(href='#certif' alt='Сертификаты') Сертификаты
			li.menu-line__li.menu-line_active
				a(href='#feedbacks' alt='Отзывы') Отзывы
			li.menu-line__li
				a(href='#partners' alt='Партнеры') Партнеры
			li.menu-line__li
				a(href='#vacancies' alt='Вакансии') Вакансии
			li.menu-line__li
				a(href='#recv' alt='Реквизиты') Реквизиты
	.accred-wrap
		.accred__title.container
			h1.h1-und#accr
				| Аккредитация
		.accred
			.container
				.accred-sertif
					a.sertif-wrap(href='img/content/accred1.jpg' data-lightbox="accred-gallery").light-b__init
						img(src='img/content/accred1.jpg')
					a.sertif-wrap(href='img/content/accred2.jpg' data-lightbox="accred-gallery").light-b__init
						img(src='img/content/accred2.jpg')
				.accred-text-wrap
					p
						| На сегодняшний день каждый поставщик товаров, работ и услуг
						| понимает важность наличия превосходства перед конкурентами.
						| Безусловно, сертификат соответствия в системе «Международная
						| Система Сертификации» позволит Вашей компании обойти конкурентов
						| по всем позициям и выйти на новый уровень развития бизнеса.
					p
						| В Федеральном агентстве по техническому регулированию и
						| метрологии система зарегистрирована под номером РОСС RU.З1180.
						| 04ЖНМ0 от 19 марта 2014 года.
					p
						| По результатам сертификации организация получает сертификат
						| соответствия системы установленного образца и знак соответствия
						| системы.
					p
						| Как сертификат соответствия системы менеджмента качества, так и
						| знак соответствия системы менеджмента качества могут
						| использоваться владельцем сертификата в рекламных целях.
	.specialists-wrap
		.specialists__title.container
			h1.h1-und#spec
				| Специалисты
			.after-title-block
				| Специалисты нашей компании окажут профессиональную поддержку и проведут
				| высококвалифицированную консультацию по всем направлениям деятельности
				| системы добровольной сертификации «Международная Система Сертификации».
		.specialists
			.container
				ul.specialist__list
					-for (var j=1;j<=4;j++)
						li.specialist-wrap
							.specialist__img-wrap
								img(src='img/content/specialist1.png')
							.specialist__name
								| Фамилия Имя
							.specialist__data
								| Специальность
	.sertificats-wrap
		.sertificats__title.container
			h1.h1-und#certif
				| Сертификаты
		.sertificats
			.container
				ul.sertificats__list
					-for (var j=1;j<=5;j++)
						li.sertificat-wrap
							a(href='img/content/spec-img.jpg' data-lightbox="sertificat-gallery").sertificat__img-wrap.light-b__init
								img(src='img/content/accred1.jpg')
	.feedbacks-wrap
		.feedbacks__title.container
			h1.h1-und#feedbacks
				| Отзывы и благодарности
		.container
			.feedbacks-owl
				.item
					.feedback-wrap
						.feedback__company-name
							| Компания "Имя компании"
						.feedback__text-wrap
							.feedback__text
								| Равным образом новая модель организационной деятельности
								| влечет за собой процесс внедрения и модернизации
								| соответствующий условий активизации. Задача организации, в
								| особенности же новая модель организационной деятельности
								| позволяет выполнять важные задания по разработке позиций,
								| занимаемых участниками в отношении поставленных задач.
								| Товарищи! постоянный количественный рост и сфера нашей
								| активности позволяет выполнять важные задания по разработке
								| форм развития. Разнообразный и богатый опыт новая модель
								| организационной деятельности представляет собой интересный | эксперимент проверки
							.feedback__author
								| Фамилия Имя
							.feedback__author-photo
								img(src='img/content/specialist.png')
						ul.feedback__img-block
							li.feedback__img-wrap
								img(src='img/content/accred1.jpg')
							li.feedback__img-wrap
								img(src='img/content/accred2.jpg')
				.item
					.feedback__company-name
						| Компания "Имя компании"
					.feedback__text-wrap
						.feedback__text
							| Задача организации, в
							| особенности же новая модель организационной деятельности
							| позволяет выполнять важные задания по разработке позиций,
							| занимаемых участниками в отношении поставленных задач.
							| Товарищи!
						.feedback__author
							| Фамилия Имя
						.feedback__author-photo
							img(src='img/content/specialist1.png')
					ul.feedback__img-block
						li.feedback__img-wrap
							img(src='img/content/accred2.jpg')
						li.feedback__img-wrap
							img(src='img/content/accred1.jpg')
	.our-partners
		.container
			.partners__title
				h1.h1-und#partners
					| Наши партнеры
			.gallery-wrap
				.gallery-banners
					.item
						.img-wrap
							.img-item
								img(src="img/icons/slide-item-gr.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-2.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-3.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-4.png", alt="")
					.item
						.img-wrap
							.img-item
								img(src="img/icons/slide-item-gr.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-2.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-3.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-4.png", alt="")
					.item
						.img-wrap
							.img-item
								img(src="img/icons/slide-item-gr.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-2.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-3.png", alt="")
							.img-item
								img(src="img/icons/slide-item-gr-4.png", alt="")
	.vacancy-block-wrap
		.container-inner
			.vacancy__title
				h1.h1-und#vacancies
					| Вакансии
			.vacancy
					ul.accord-mth__list.accordeon
						-for (var j=1;j<=3;j++)
							li.accord-mth__item.accordeon__li
								.accord-mth__init.accordeon-init
									| Название вакансии
								.accord-mth__content.accordeon-content
									p
										strong
											| Ключевая обязанность: организация системного
											| SMM-сопровождения деятельности группы компаний
											| Юлмарт в социальных сетях.
									p
										strong
											| Задачи:
									ul
										li Разработка и реализация стратегии присутствия бренда Юлмарта в социальных сетях, блогах, форумах, основанная на общей маркетинговой стратегии компании: определение целей и ключевых показателей эффективности, оценка результатов, контроль бюджета
										li Ведение существующих групп Юлмарта в соц.сетях
										li Мониторинг целевых и конкурентных групп, поиск площадок с высокой концентрацией целевой аудитории, интеграция
										li Координация работы SMM-агентства: привлечение и увеличение подписчиков, поддержание пользовательской активности в группах, работа с мнениями, нейтрализация негативных пользователей/работа с негативом
										li Организация поддерживающих медиа-кампаний в рамках маркетинговых акций: медиа-планирование, бюджетирование, запуск, сопровождение, отчетность
										li Разработка, организация и проведение конкурсов, акций и внедрение новых интерактивных инструментов и механик
										li Определение ключевых показателей эффективности, анализ реализованных проектов, формирование ежемесячной отчетности по результатам деятельности
										li Взаимодействие и координация подрядчиков, ведение документооборота, бюджетирование SMM-проектов
									.buttons-block
										a(href='#').close-accord.accordeon-close.button-mth_dbgreen
											| Скрыть
										a(href='#').respond-to-job.button-mth_red
											| Отклик
	.requisites-block-wrap
		.container-inner
			.requisites__title
				h1.h1-und#recv
					| Реквизиты
			.requisites
				ul.requisites-text-block
					li.requisites-text-block__item
						p.item
							| Наименование компании:
						p.defination
							| Общество с ограниченной ответственностью «Стандарт качества»
					li.requisites-text-block__item
						p.item
							| Руководитель:
						p.defination
							| Генеральный директор Ключев А.А.
					li.requisites-text-block__item
						p.item
							| Юридический адрес:
						p.defination
							| 192029, Санкт-Петербург, пр. Обуховской Обороны, д. 86, лит.К, пом. 2Н.
					li.requisites-text-block__item
						p.item
							| Фактический адрес:
						p.defination
							| 192029, Санкт-Петербург, пр. Обуховской Обороны, д. 86, лит.К, пом. 2Н.
				ul.requisites-text-block.right
					li.requisites-text-block__item
						span.item
							| ИНН:
						span.defination
							| 7811586685
					li.requisites-text-block__item
						span.item
							| ОГРН:
						span.defination
							| 1147847274002
						p
							span.defination
								| Дата присвоения ОГРН:
							span.defination
								| 05.08.2014
					li.requisites-text-block__item
						span.item
							| КПП:
						span.defination
							| 781101001
					li.requisites-text-block__item
						span.item
							| Р/cчет:
						span.defination
							| 40702810861160000156
					li.requisites-text-block__item
						span.item
							| К/счет:
						span.defination
							| 30101810840300000916
					li.requisites-text-block__item
						span.item
							| БИК:
						span.defination
							| 044030916
					li.requisites-text-block__item
						span.item
							| Наименование банка:
						span.defination
							| Филиал "Санкт-Петербургский" ОАО "УБРиР"

