extends _layout.jade
block main
	.about-company-title.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link.breadcrumbs__link_active(href="#") О компании
		.section__title
			h1.h1 О компании
