extends _layout.jade
block main
	section.contacts
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") Контакты
			.contacts__wrap
				.contacts__title
					h1.h1 Контакты
				.contacts__adress-map
					.adress__wrap
						.adress__title Адрес
						.adress__descr 192029, Санкт-Петербург, пр. Обуховской Обороны, д. 86, лит.К, пом. 2Н
					.phone
						a(href="tel:8 (812) 920 59 90") 8 (812) 920 59 90  
					.mail
						a(href="mailto:mss-standart@mail.ru") mss-standart@mail.ru
				.contacts__form
					.form__title
						h2.h2 Остались вопросы ?		ё