extends _layout.jade
block main
	.carousel-wrap
		div(class="carousel-main")
			.item
				img.slider-content_bg(src='img/slider-content_bg1.jpg')
				.slider-content-wrap
					.slider-content
						.slider-title-wrap
							h2.slider-title
							h3.slider-title ISO 91-2080...
						.slider__content-nav
							a.slider-buy.button-main-theme(href='#' alt='Заказать')
								| Заказать
							a.slider-details(href='#' alt='Подробнее')
								|Подробнее
			.item
				img.slider-content_bg(src='img/slider-content_bg1.jpg')
				.slider-content-wrap
					.slider-content
						.slider-title-wrap
							h2.slider-title Сертификация
							h3.slider-title ISO 9001-2015...
						.slider__content-nav
							a.slider-buy.button-main-theme(href='#' alt='Заказать')
								| Заказать
							a.slider-details(href='#' alt='Подробнее')
								|Подробнее
	section.about-company
		.container-inner
			.section__title
				h1.h1-und О компании
			.about-company__descr «Международная Система Сертификации» - это добровольная система сертификации, применяемая в таких областях, как менеджмент качества работ и услуг, экологический, энергетический менеджмент, а также в других направлениях деятельности организаций как в Российской Федерации, так и за ее пределами. На сегодняшний день наличие сертификата ISO является одним из обязательных условий для заключения контрактов и участия в тендерах.
			.about-company__shema
				.shema__wrap
					.shema__title
						h2.h2 Схема работы с клиентами
					.shema__blocks-container
						ul.shema__list
							li.shema__item
								a(href="#").shema__link.shema__img.img-number-1
									.img-wrap
										img(src="img/icons/step-1.svg", alt="Shema")
									.shema__descr Ваша заявка на получение сертификата
							li.shema__item.shema__item_bottom
								a(href="#").shema__link.shema__img.img-number-2
									.img-wrap
										img(src="img/icons/step-2.svg", alt="Shema")
									.shema__descr Согласование деталей
							li.shema__item
								a(href="#").shema__link.shema__img.img-number-3
									.img-wrap
										img(src="img/icons/step-3.svg", alt="Shema")
									.shema__descr Оплата счета за предоставяемые услуги
							li.shema__item.shema__item_bottom
								a(href="#").shema__link.shema__img.img-number-4
									.img-wrap
										img(src="img/icons/step-4.svg", alt="Shema")
									.shema__descr Оформление документации
							li.shema__item
								a(href="#").shema__link.shema__img.img-number-5
									.img-wrap
										img(src="img/icons/step-5.svg", alt="Shema")
									.shema__descr Получение результата
	.container-inner
		section.services
			.section__title
				h1.h1-und Предоставляемые услуги
			.services-block__wrap
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-1.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-2.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-3.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-4.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-5.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-5.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-5.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-8.svg", alt="Img")
				.services-block__item
					.serv__title
						h3.h3 Сертификация систем менеджмента качества
					.serv__descr.small-fonts ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента
					a(href="#").more-links.link-btn
						span Подробнее
					.serv__icon
						img(src="img/icons/iso-9.svg", alt="Img")

	.last-news
		.last-news__title
			h1.h1-und
				| Последние новости
		.last-news-wrap
			.container
				.news-wrap
					-for(var j=1;j<=3;j++)
						.news-block
							.news__img-line
								.news-img
									img(src='img/news.jpg' alt='news')
								.news__img-line_datails
									.news-date 21.02.2016
									a(href='#' alt='читать новость').news-title Заголовок статьи
							.news__content-wrap
								.news__content
									| Идейные соображения высшего порядка, а также сложившаяся
									| структура организации играет важную роль в формировании
									| модели развития. Значимость этих проблем настолько очевидна,
									| что новая модель организационной
									a.more-info(href='#' alt='больше') ...
					a(href='#' alt='читать все').read-all
						| Читать все новости


				.publications-wrap
					-for(var j=1;j<=3;j++)
						.news-block
							.news__img-line
								.news-img
									img(src='img/news.jpg' alt='news')
								.news__img-line_datails
									.news-date 21.02.2016
									a(href='#' alt='читать публ').news-title Заголовок статьи
							.news__content-wrap
								.news__content
									| Идейные соображения высшего порядка, а также сложившаяся
									| структура организации играет важную роль в формировании
									| модели развития. Значимость этих проблем настолько очевидна,
									| что новая модель организационной
									a.more-info(href='#' alt='больше') ...
					a(href='#' alt='читать все').read-all
						| Читать все публикации
	section.partners
		.container
			.partners__title
				h1.h1-und
					| Наши партнеры
			.gallery-wrap
				.gallery-banners
					.item
						.img-wrap
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
					.item
						.img-wrap
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
					.item
						.img-wrap
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")
							.img-item
								img(src="img/icons/slide-item.png", alt="")


