extends _layout.jade
block main
	section.contacts
		.container
			p
				a.podrobn-link(href='article.html')
					| Новость
			p
				a.podrobn-link(href='company.html')
					| О компании
			p
				a.podrobn-link(href='contacts.html')
					| Контакты
			p
				a.podrobn-link(href='index.html')
					| Главная
			p
				a.podrobn-link(href='news.html')
					| Новости
			p
				a.podrobn-link(href='odnausluga-v2.html')
					| Страница услуги
			p
				a.podrobn-link(href='partners_single.html')
					| Парнер
			p
				a.podrobn-link(href='profi.html')
					| Специалисты
			p
				a.podrobn-link(href='promezhutuslugi.html')
					| Промежуточные услуги
			p
				a.podrobn-link(href='uslugi.html')
					| Услуги
