extends _layout.jade
block main
	.container
		section.news
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") Новости
			.news__wrap
				.news__title
					h1.h1 Новости