extends _layout.jade
block main
	section.services
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Услуги
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Сертификация систем менеджмента качества
					li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") ГОСТ Р ИСО 9001 - 2015 (ISO 9001:2015) «Системы менеджмента качества»
			.services__title-wrap
				h1.h1.h1-und
					| ГОСТ Р 54762-2011/ISO/TS 22002-1:2009 
					| «Программы предварительных требований 
					| по безопасности пищевой продукции»