extends _layout.jade
block main
	section.partners-single
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") Название компании-партнера
			.partners__wrap
				.news__title_partners
					.partners-logo
						img(src="img/partners_single.png", alt="Лого")
					.partners-title
						h1.h1 Название компании
				p.partners-single__descr Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения новых предложений. Не следует, однако забывать, что консультация с широким активом требуют от нас анализа систем массового участия. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений
				.partners-ul-title Пердоставляемые нами услуги для компании "название компании":
				ul.partners__list
					li.partners__item Разработка и реализация стратегии присутствия бренда Юлмарта в социальных сетях, блогах, форумах, основанная на общей маркетинговой стратегии компании: определение целей и ключевых показателей эффективности, оценка результатов, контроль бюджета
					li.partners__item Ведение существующих групп Юлмарта в соц.сетях
					li.partners__item Мониторинг целевых и конкурентных групп, поиск площадок с высокой концентрацией целевой аудитории, интеграция
					li.partners__item Координация работы SMM-агентства: привлечение и увеличение подписчиков, поддержание пользовательской активности в группах, работа с мнениями, нейтрализация негативных пользователей/работа с негативом
	section.reviews-single
		.container
			h2.reviews-single__title.h2 Отзывы компании о работе с нами
			.feedback-wrap
				.feedback__text-wrap
					.feedback__text
						| Равным образом новая модель организационной деятельности
						| влечет за собой процесс внедрения и модернизации
						| соответствующий условий активизации. Задача организации, в
						| особенности же новая модель организационной деятельности
						| позволяет выполнять важные задания по разработке позиций,
						| занимаемых участниками в отношении поставленных задач.
						| Товарищи! постоянный количественный рост и сфера нашей
						| активности позволяет выполнять важные задания по разработке
						| форм развития. Разнообразный и богатый опыт новая модель
						| организационной деятельности представляет собой интересный | эксперимент проверки
					.feedback__author
						| Фамилия Имя
					.feedback__author-photo
						| тег img
				ul.feedback__img-block
					li.feedback__img-wrap
						img(src='img/content/sertif-img.jpg')
					li.feedback__img-wrap
						img(src='img/content/sertif-img.jpg')
		.reviews-single__nav-line
			.container
				a(href='#' alt='Имя Компании парнтера').podrobn-link_pre
					| Имя Компании парнтера
				a(href='#' alt='Смотреть следющий').podrobn-link
					| Смотреть следющий





