extends _layout.jade
block main
	section.news__with-pictures
		//- Секция с картинками по сторонам
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Услуги
					li.breadcrumbs__item
						a.breadcrumbs__link.breadcrumbs__link_active(href="#") Сертификация систем менеджмента качества
			.news__wrap
				.news__title
					h1.h1 Сертификация систем менеджмента качества