header.header
	.menu-line
		.white-block
		.container
			.navigation-wrap
				menu.main-menu
					li.main-menu__li
						a(href='#' alt='Главная') Главная
					li.main-menu__li
						a(href='news.html' alt='Новости') Новости
					li.main-menu__li
						a(href='article.html' alt='Публикации') Публикации
					li.main-menu__li
						a(href='company.html' alt='О компании') О компании
					li.main-menu__li
						a(href='#' alt='Контакты') Контакты
				form.search
					input.search_input(name='search_query' type="text")
					button.search_subm(type='submit')
	.container.logo-line
		a.logo(href='index.html' alt='Главная страница')
			img(src='img/icons/logo-header.svg')
			span Международная Система Сертификации
		.logo-line__content-wrap
			.drop_down_menu
				.init_block
					span Услуги
				.dropped-block
					.dropped-block__title
						| Cертификация ISO
					ul.dropped-menu
						li.dropped-menu__li
							a.dropped-menu__li-title(href='odnausluga-v2.html' alt='роздел')
								| Сертификация систем менеджмента качества
							ul.inner-drop-menu
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
						li.dropped-menu__li
							a.dropped-menu__li-title(href='#' alt='роздел')
								| ХАССП
							ul.inner-drop-menu
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
						li.dropped-menu__li
							a.dropped-menu__li-title(href='#' alt='роздел')
								| Сертификация систем безопасности
							ul.inner-drop-menu
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
						li.dropped-menu__li
							a.dropped-menu__li-title(href='#' alt='роздел')
								| Сертификация социальной ответсвенности и защиты окружающей среды
					.dropped-block__title
						| Cертификация продукции
					ul.dropped-menu
						li.dropped-menu__li
							a.dropped-menu__li-title(href='#' alt='роздел')
								| Сертификация систем менеджмента качества
							ul.inner-drop-menu
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
						li.dropped-menu__li
							a.dropped-menu__li-title(href='#' alt='роздел')
								| Сертификация систем менеджмента качества
							ul.inner-drop-menu
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
								li.inner-drop-menu__li
									a(href='').inner-drop-menu__link
										| ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005)
						li.dropped-menu__li
							a.dropped-menu__li-title(href='#' alt='роздел')
								| Сертификация систем менеджмента качества
			.contancts-block
				a(href='tel:+88129205990').contacts__link 8 (812) 920 59 90
				a(href='mailto:mss-standart@mail.ru').contacts__link mss-standart@mail.ru
			a(href='#').take-call.button-mth_green Заказать звонок
// popup окно для формы заказа дзвонка
.popup__make-call-wrap
	h2.popup-title
		| Заказать звонок
	form.popup-form
		.item-input
			input(id='name' type='text' placeholder='Введите имя' ).popup-input
			label(for='name').contacts-form__label-form
				span Введите имя
		.item-input
			input(id='phone' type='text' placeholder='Введите телефон' ).popup-input
			label(for='phone').contacts-form__label-form
				span Введите телефон
		//- label
		//- 	input.popup-input(type="text" name="name" placeholder="Введите имя")
		//- label
		//- 	input.popup-input(type="text" name="phone" placeholder="Введите телефон")
		button.popup-smbt.button-mth_green(type="submit" value="Заказать звонок")
			| Заказать звонок
		.close-popup__make-call

