section.partners
	.container
		.partners__title
			h1.h1
				| Наши партнеры
		.gallery-wrap
			.gallery-banners
				.item
					.img-wrap
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
				.item
					.img-wrap
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
				.item
					.img-wrap
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")
						.img-item
							img(src="img/icons/slide-item.png", alt="")